---
---

<html>
	<head>
		<title>Gibson: A CSS Framework</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="dist/gibson.css" type="text/css">
	</head>
	<body>
        {% include gtm.html %}

        {% include header.html %}

        <main>
            {% include section/typography.html %}

            {% include section/grid.html %}

            {% include section/button.html %}

            {% include section/container-inverse.html %}

            {% include section/forms.html %}

            {% include section/tables.html %}

            {% include section/utilities.html %}

            {% include section/cards.html %}

            {% include section/navbar.html %}
        </main>

        {% include footer.html %}
	</body>
</html>
