html,
body {
	font-size: $font-base;
}

* {
	font-family: $font-family-standard;
	color: $color-text;
	line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	@include font-size(36);
}

h2 {
	@include font-size(30);
}

h3 {
	@include font-size(24);
}

h4 {
	@include font-size(18);
}

h5 {
	@include font-size(14);
}

h6 {
	@include font-size(12);
}

code,
pre {
	font-family: $font-family-monospace;
	display: block;
}

code {
	padding-left: 10px;
	padding-right: 10px; 

	background-color: $color-text;
	color: $color-text-inverse;

	white-space: pre-line;
}

small {
	font-size: 0.75em;
	color: #767B91;
}