<footer class="container-fluid container-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Built by <a href="http://ryanbonick.com/">Ryan Bonick</a>. <small>for fun</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <h6>Resources used:</h6>
              <ul>
                <li><a href="https://necolas.github.io/normalize.css/">Normalize.css</a></li>
                <li><a href="http://matejlatin.github.io/Gutenberg/">Gutenberg</a></li>
              </ul>
            </div>
        </div>
    </div>
</footer>
