.button,
button,
input[type="submit"],
input[type="button"] {
    width: 100%;
    margin-bottom: 1em;

    display: inline-block;

    cursor: pointer;

    background-color: $color-dark;
    color: $color-inverse;

    padding: 10px 15px;

    border: 2px solid transparent;

    font-size: 1em;
    text-decoration: none;
    text-align: center;

    &:hover {
        background-color: darken($color-dark, 5%);
    }

    &.button-bordered {
        background-color: $color-white;
        border-color: $color-dark;
        color: $color-text;

        &:hover {
            background-color: darken($color-white, 10%);
        }
    }

    &.button-disabled,
    &[disabled]
    {
        cursor: not-allowed;
        background-color: $color-light;
        color: $color-text;
    }

    @media($tablet){
        width: auto;
        margin-bottom: 0;
    }
}