<section class="container" id="button">
    <div class="row">
        <div class="col-md-12">
            <h2>Buttons</h2>
            <p>
                Buttons are kept simple: default, bordered, and disabled. By default, they collapse to
                full width at mobile screen sizes.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a class="button" href="#">Link</a>
                <button>Button</button>
                <input type="button" value="Input Button">
                <input type="submit" value="Input Submit">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a class="button button-bordered" href="#">Link</a>
                <button class="button-bordered">Button</button>
                <input class="button-bordered" type="button" value="Input Button">
                <input class="button-bordered" type="submit" value="Input Submit">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a class="button button-disabled" href="#">Link</a>
                <button disabled>Button</button>
                <input type="button" value="Input Button" disabled>
                <input type="submit" value="Input Submit" disabled>
            </p>
        </div>
    </div>
</section>