<section class="container" id="cards">
    <div class="row">
        <div class="col-md-12">
            <h2>Cards</h2>
            <p>
                Everyone could use a good card every now and again. Here's ours.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h3>Card header</h3>
                <p>
                    Some card text. This is supposed to be a paragraph, for, you know, whatever.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h3>Card with image</h3>
                <img src="http://placehold.it/400x150">
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h3>Card with Text</h3>
                <h3><small>Here's a subheader!</small></h3>
                <img src="http://placehold.it/400x150">
                <p>
                    And some more text!
                </p>
            </div>
        </div>
    </div>
</section>