<section class="container-fluid container-inverse" id="inverse-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Inverted containers</h2>
                <p>
                    Use an inverted fluid container with a nested regular container for
                    a full-width inverted section.
                </p>

                <p>
                    Note that buttons do not automatically adjust when in an inverse container, so you may
                    wish to use bordered buttons.
                </p>
            </div>
        </div>
    </div>
</section>