<section class="container" id="grid">
    <div class="row">
        <div class="col-md-12">
            <h2>Grid System</h2>
            <p>
                The grid system is mobile up, built around 3 different screen sizes: mobile (<768px),
                tablet (<1025px), and desktop (>1024px). There are 12 columns, so the screen can easily
                be split in half, thirds, quarters, or sixths.
            </p>
            <p>
                Grids need to be wrapped in .container and .row block elements (div, main, section, header,
                etc).
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p class="col-demo">.col-md-2</p>
        </div>
        <div class="col-md-2">
            <p class="col-demo">.col-md-2</p>
        </div>
        <div class="col-md-2">
            <p class="col-demo">.col-md-2</p>
        </div>
        <div class="col-md-2">
            <p class="col-demo">.col-md-2</p>
        </div>
        <div class="col-md-2">
            <p class="col-demo">.col-md-2</p>
        </div>
        <div class="col-md-2">
            <p class="col-demo">.col-md-2</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="col-demo">.col-md-3</p>
        </div>
        <div class="col-md-3">
            <p class="col-demo">.col-md-3</p>
        </div>
        <div class="col-md-3">
            <p class="col-demo">.col-md-3</p>
        </div>
        <div class="col-md-3">
            <p class="col-demo">.col-md-3</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="col-demo">.col-md-4</p>
        </div>
        <div class="col-md-4">
            <p class="col-demo">.col-md-4</p>
        </div>
        <div class="col-md-4">
            <p class="col-demo">.col-md-4</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="col-demo">.col-md-6</p>
        </div>
        <div class="col-md-6">
            <p class="col-demo">.col-md-6</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="col-demo">.col-md-12</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <p class="col-demo">.col-md-2 .col-md-offset-1</p>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <p class="col-demo">.col-md-2 .col-md-offset-2</p>
        </div>
        <div class="col-md-2 col-md-offset-3">
            <p class="col-demo">.col-md-2 .col-md-offset-3</p>
        </div>
    </div>
</section>