<section id="navbar" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Navbar</h2>
            <p>
                Our navbar comes in two flavors: normal and inverted.
            </p>
        </div>
    </div>
</section>
<nav>
    <div class="container">
        <div class="row">
            <ul>
                <li><a class="brand" href="javascript:void(0)">Brand</a></li>
                <li><a href="javascript:void(0)">Link 1</a></li>
                <li><a href="javascript:void(0)">Link 2</a></li>
            </ul>
            <form class="u-pull-right">
                <div class="form-row">
                    <input type="search" placeholder="Search">
                    <input type="submit" value="Submit">
                </div>
            </form>
            <ul class="u-pull-right">
                <li><a class="brand" href="javascript:void(0)">Brand</a></li>
                <li><a href="javascript:void(0)">Link 1</a></li>
                <li><a href="javascript:void(0)">Link 2</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="inverted">
    <div class="container">
        <div class="row">
            <ul>
                <li><a class="brand" href="javascript:void(0)">Brand</a></li>
                <li><a href="javascript:void(0)">Link 1</a></li>
                <li><a href="javascript:void(0)">Link 2</a></li>
            </ul>
            <form class="u-pull-right">
                <div class="form-row">
                    <input type="search" placeholder="Search">
                    <input type="submit" value="Submit">
                </div>
            </form>
            <ul class="u-pull-right">
                <li><a class="brand" href="javascript:void(0)">Brand</a></li>
                <li><a href="javascript:void(0)">Link 1</a></li>
                <li><a href="javascript:void(0)">Link 2</a></li>
            </ul>
        </div>
    </div>
</nav>