<section class="container" id="tables">
    <div class="row">
        <div class="col-md-12">
            <h2>Tables</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Default table styling (comes automatically with <code>&lt;table&gt;</code>,
                <code>&lt;thead&gt;</code>/<code>&lt;tbody&gt;</code>/<code>&lt;tfoot&gt;</code>, <code>&lt;tr&gt;</code>,
                and <code>&lt;td&gt;</code>/<code>&lt;th&gt;</code>.
            </p>

            <table>
                <thead>
                <tr>
                    <th>Column header 1</th>
                    <th>Column header 2</th>
                    <th>Column header 3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>Footer 1</td>
                    <td>Footer 2</td>
                    <td>Footer 3</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                You can add alternating stripes by adding <code>.striped</code>.
            </p>

            <table class="striped">
                <thead>
                <tr>
                    <th>Column header 1</th>
                    <th>Column header 2</th>
                    <th>Column header 3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>Footer 1</td>
                    <td>Footer 2</td>
                    <td>Footer 3</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                You can remove the cell borders by adding <code>.borderless</code>. Note that row borders
                are not removed.
            </p>

            <table class="borderless">
                <thead>
                <tr>
                    <th>Column header 1</th>
                    <th>Column header 2</th>
                    <th>Column header 3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>Footer 1</td>
                    <td>Footer 2</td>
                    <td>Footer 3</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>