<section class="container" id="typography">
    <div class="row">
        <div class="col-md-12">
            <h2>Typography</h2>

            <p>The type is built on BLAH.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <h1>Heading 1 <small>Small</small></h1>
            <h2>Heading 2 <small>Small</small></h2>
            <h3>Heading 3 <small>Small</small></h3>
            <h4>Heading 4 <small>Small</small></h4>
            <h5>Heading 5 <small>Small</small></h5>
            <h6>Heading 6 <small>Small</small></h6>


            <h4>Paragraphs</h4>
            <p>

                This is a paragraph. <a href="#">Here's a link</a>.
                <code>Code section</code>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies felis in orci
                viverra commodo. Quisque varius posuere elit. Cras consectetur augue non nulla porta
                feugiat. Praesent at nibh vitae lorem lacinia iaculis. Nam in lorem massa. Cras suscipit
                quam a dolor dictum aliquam sit amet id turpis. Mauris orci massa, eleifend eget sem a,
                hendrerit ultricies augue. Ut urna nibh, dignissim at faucibus in, condimentum nec lacus.
            </p>

            <h4>Unordered List</h4>

            <ul>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ul>

            <h4>Ordered List</h4>

            <ol>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Example Code Block (with <code>&lt;pre&gt;</code>)</h4>
<pre>
&lt;h1&gt;Heading 1 &lt;small&gt;Small&lt;/small&gt;&lt;/h1&gt;
&lt;h2&gt;Heading 2 &lt;small&gt;Small&lt;/small&gt;&lt;/h2&gt;
&lt;h3&gt;Heading 3 &lt;small&gt;Small&lt;/small&gt;&lt;/h3&gt;
&lt;h4&gt;Heading 4 &lt;small&gt;Small&lt;/small&gt;&lt;/h4&gt;
&lt;h5&gt;Heading 5 &lt;small&gt;Small&lt;/small&gt;&lt;/h5&gt;
&lt;h6&gt;Heading 6 &lt;small&gt;Small&lt;/small&gt;&lt;/h6&gt;

&lt;p&gt;Paragraphs look like this.&lt;/p&gt;

&lt;code&gt;Code section&lt;/code&gt;
</pre>
        </div>
    </div>
</section>
