<section class="container" id="utilities">
    <div class="row">
        <div class="col-md-12">
            <h2>Utilities</h2>
            <p>
                There are a number of utilities available to use. These can be used as classes or as
                mixins.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Text alignment</h4>
            <p class="u-text-left">.u-text-left</p>
            <p class="u-text-center">.u-text-center</p>
            <p class="u-text-right">.u-text-right</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h4>Text modifications</h4>
            <p class="u-text-italic">.u-text-italic</p>
            <p class="u-text-bold">.u-text-bold</p>
            <p class="u-text-monospace">.u-text-monospace</p>
            <p class="u-text-uppercase">.u-text-uppercase</p>
            <p class="u-text-lowercase">.u-text-lowercase</p>
            <p class="u-text-capitalize">.u-text-capitalize</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Floating <small>(Note: floating utilities use !important to avoid specificity issues)</small></h4>
            <p class="u-pull-left">
                .u-pull-left
            </p>
            <p class="u-pull-right">
                .u-pull-right
            </p>
        </div>
    </div>
</section>