*,
*:after,
*:before {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    outline: none;
}

main,
section,
header,
footer,
article,
hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    height: auto;
}