@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

$font-family-standard: 'Oswald', sans-serif;
$font-family-monospace: 'PT Mono', monospace;

$font-base-size: 16;
$font-base: $font-base-size + px;