$form-padding: 10px;

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;

    padding: $form-padding;

    border: 2px solid $color-dark;

    &.form-error {
        border-color: $color-error;
    }
}

label {
    display: block;
    margin-bottom: 0.25em;

    &.form-error {
        color: $color-error;
    }
}

textarea {
    min-height: 100px;
}

input[type="checkbox"] {
    margin-right: 5px;
}