$num-cols: 12;
$gutter: 2%;
$desktop-container-width: 1050px;

$column-width: 100% / $num-cols;

@mixin container-base() {
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;
}

.container {
    @include container-base();
    max-width: $desktop-container-width;
}

.container-fluid {
    @include container-base();
}

.container-inverse {
    background-color: $color-dark;

    * {
        color: $color-inverse;
    }
}

.row {
    @include clearfix();

    display: flex;
    flex-wrap: wrap;

    margin-left: -0.5 * $gutter;
    margin-right: -0.5 * $gutter;
}



.col {
    padding-left: 0.5 * $gutter;
    padding-right: 0.5 * $gutter;

    flex-basis: 100%;
}

@for $i from 1 through $num-cols {
    .col-sm-#{$i} {
        @extend .col;
        flex-basis: $column-width * $i;
    }

    .col-md-#{$i} {
        @extend .col;

        @media($tablet) {
            flex-basis: $column-width * $i;
        }
    }

    .col-lg-#{$i} {
        @extend .col;

        @media($desktop) {
            flex-basis: $column-width * $i;
        }
    }

    .col-sm-offset-#{$i} {
        margin-left: $column-width * $i;
    }

    .col-md-offset-#{$i} {
        @media($tablet) {
            margin-left: $column-width * $i;
        }
    }

    .col-lg-offset-#{$i} {
        @media($tablet) {
            margin-left: $column-width * $i;
        }
    }
}

.col-demo {
    border: 1px solid $color-light;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    text-align: center;
}