$num-cols: 12;
$gutter: 2%;
$desktop-container-width: 1050px;

$column-width: 100% / $num-cols;

@mixin container-base() {
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;
}

.container {
    @include container-base();
    max-width: $desktop-container-width;
}

.container-fluid {
    @include container-base();
}

.container-inverse {
    background-color: $color-dark;

    * {
        color: $color-text-inverse;
    }
}

.row {
    @include clearfix();

    margin-left: -(0.5 * $gutter);
    margin-right: -(0.5 * $gutter);
}

.col {
    width: 100%;
    position: relative;
    float: left;

    padding-left: 0.5 * $gutter;
    padding-right: 0.5 * $gutter;
}

@for $i from 1 through $num-cols {
    .col-sm-#{$i} {
        @extend .col;

        width: $column-width * $i;
    }

    .col-md-#{$i} {
        @extend .col;

        @media($tablet) {
            width: $column-width * $i;
        }
    }

    .col-lg-#{$i} {
        @extend .col;

        @media($desktop) {
            width: $column-width * $i;
        }
    }

    .col-sm-offset-#{$i} {
        margin-left: $column-width * $i;
    }

    .col-md-offset-#{$i} {
        @media($tablet) {
            margin-left: $column-width * $i;
        }
    }

    .col-lg-offset-#{$i} {
        @media($tablet) {
            margin-left: $column-width * $i;
        }
    }
}

.col-demo {
    border: 1px solid $color-light;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    text-align: center;
}