$numCols: 12;
$gutter: 2%;

@mixin container-base() {
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;
}

.container {
    @include container-base();
    max-width: 1150px;
}

.container-fluid {
    @include container-base();
}

.container-inverse {
    background-color: $color-dark;

    * {
        color: $color-text-inverse;
    }
}

.row {
    @include clearfix();
}

.col {
    width: 100%;
    position: relative;
    float: left;

    & + & {
        margin-left: $gutter;
    }
}

@for $i from 1 through $numCols {
    .col-#{$i} {
        // Column width * column number + (margin * (column number - 1))
        width: ((100% - ($gutter * ($numCols - 1))) / $numCols) * $i + ($gutter * ($i - 1));
    }

    .col-sm-#{$i} {
        // Column width * column number + (margin * (column number - 1))
        width: ((100% - ($gutter * ($numCols - 1))) / $numCols) * $i + ($gutter * ($i - 1));
    }

    .col-md-#{$i} {
        @media($tablet) {
            // Column width * column number + (margin * (column number - 1))
            width: ((100% - ($gutter * ($numCols - 1))) / $numCols) * $i + ($gutter * ($i - 1));
        }
    }

    .col-lg-#{$i} {
        @media($desktop) {
            // Column width * column number + (margin * (column number - 1))
            width: ((100% - ($gutter * ($numCols - 1))) / $numCols) * $i + ($gutter * ($i - 1));
        }
    }

    .col.col-offset-#{$i} {
        margin-left: ((100% - ($gutter * ($numCols - 1))) / $numCols) * $i + ($gutter * ($i + 1));

        &:first-child {
            margin-left: ((100% - ($gutter * ($numCols - 1))) / $numCols) * $i + ($gutter * $i);
        }
    }
}

.col-demo {
    border: 1px solid $color-light;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    text-align: center;
}